@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar-container {
  width: 200px;
}