@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$theme-colors: (
  "primary": #00a388,
  "secondary": #bd72a5
);
$enable-gradients: true;
$input-btn-padding-x-lg: 2rem;
$input-btn-padding-y-lg: 0.4rem;

.bg-gray-300 {
  background-color: $gray-300;
}
.bg-gray-400 {
  background-color: $gray-400;
}
.bg-gray-500 {
  background-color: $gray-500;
}
.bg-gray-600 {
  background-color: $gray-600;
}
.cursor-pointer {
  cursor: pointer;
}

@import "../node_modules/bootstrap/scss/bootstrap";